* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html,
body {
    height: 100vh;
    width: 100vw;
    background-color: #111;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
}

.container {
    height: 100vh;
    max-height: 1000px;
    width: 100vw;
    max-width: 450px;
    background-color: #222828;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.hand {
    height: 55%;
    width: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 7em;
    position: relative;
}


.choices {
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* background-color: bisque; */
}

.choice {
    height: 100px;
    width: 100px;
    background-color: transparent;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.8), -2px -2px 10px rgba(0, 0, 0, 0.8);
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    text-shadow: 2px 2px 10px rgba(59, 135, 197, 0.5), -2px -2px 10px rgba(187, 71, 205, 0.5);
}

.choice:hover {
    box-shadow: 2px 2px 10px rgba(59, 135, 197, 0.8), -2px -2px 10px rgba(187, 71, 205, 0.8)
}

.result {
    width: 70%;
    height: 10%;
    background-color: transparent;
    margin-top: 25px;
    border-radius: 10px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.win {
    box-shadow: inset 2px 2px 20px rgba(16, 222, 54, 0.8), inset 2px 2px 20px rgba(16, 222, 54, 0.8);
    color: rgb(16, 222, 54);
}

.draw {
    box-shadow: inset 2px 2px 20px rgba(16, 197, 217, 0.8), inset 2px 2px 20px rgba(16, 197, 217, 0.8);
    color: rgb(16, 197, 217);
}

.lose {
    box-shadow: inset 2px 2px 20px rgba(222, 50, 16, 0.8), inset 2px 2px 20px rgba(222, 50, 16, 0.8);
    color: rgb(222, 50, 16);
}

.heading{
    width: 100%;
    height: 15%;
    position: absolute;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    top: 0%;
}

.comp-div{
    text-shadow: 2px 2px 10px rgba(255, 119, 0, 0.5), -2px -2px 10px rgba(255, 0, 0, 0.5);
} 

.you-div{
    text-shadow: 2px 2px 10px rgba(59, 135, 197, 0.5), -2px -2px 10px rgba(187, 71, 205, 0.5);
}

.you-heading,
.comp-heading {
    background-color: transparent;
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.8), -2px -2px 10px rgba(0, 0, 0, 0.8)
}

.you-heading{
    color: rgb(16, 197, 217);
}

.comp-heading{
    color: rgb(222, 50, 16)
}

@keyframes shake {

    0%,
    50%,
    100% {
        transform: translateY(0px);
    }

    25% {
        transform: translateY(20px);
    }

    75% {
        transform: translateY(-20px);
    }
}
